%p
  Request for:
  =link_to @game.name, @game
%table{class:"list", id:"index_game_requests"}
  %thead
    %tr
      -if can? :vote, request
        %td
          
      %td
        Score:
      %td
        Title:
         
      %td
        Status:
      %td
        Author:
  %div{id:"requests_table"}
  -@requests.each do |request|

    -if request.voted_up?(current_user)
      - up_suffix = "_clicked"
    -elsif request.voted_down?(current_user)
      - down_suffix = "_clicked"
    -else
      -up_suffix = ""
    %tbody
      %tr
        %td          
          =form_for @vote, html:{class:"request_vote"}, remote: true do |f| 
            =f.hidden_field :request_id, :value => request.id
            =f.hidden_field :user_id, :value => current_user.id 
            =f.hidden_field :vote_type, :value => "up"
            =f.submit "^", html:{class:"up_submit", class:"upvote#{up_suffix}"}
                   
          =form_for @vote, html:{class:"request_vote"}, remote: true do |f| 
            =f.hidden_field :request_id, :value => request.id
            =f.hidden_field :user_id, :value => current_user.id 
            =f.hidden_field :vote_type, :value => "down"
            =f.submit "v", html:{class:"down_submit", class:"downvote#{down_suffix}"}
                        
        %td
          %div{class:"score", id:"game_request_#{request.id}_score"}
            =request.score
        %td
          =request.title           
        %td
          =request.status
        %td
          =link_to request.user.name, request.user      
        %td
          -if can? :delete, request
            =link_to "Delete this request", request, method: :delete, data:{confirm:"Are you sure?"}
            %br    
      
      