
=render 'shared/error_messages'
-flash.each do |name, msg|
	=content_tag :div, msg, class: name

-if signed_in? 
	SIGNED IN AS:
	=link_to current_user.name, current_user
	=link_to "Sign Out", signout_path, method: :delete

-else
	=link_to "Sign Up", signup_path
	=link_to "Sign In", signin_path



=link_to "Add Game", new_game_path